@import "scss/reset";
@import "scss/colors";
@import "scss/base";
@import "scss/tooltip";
@import "scss/dialog";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
