html {
  font-size: 10px;
  -webkit-text-size-adjust: none;
  background: var(--app-bg);

  @media screen and (max-width: 800px) {
    font-size: 8px;
  }
}

body {
  font-size: 1.6rem;
}
